In [1]:
import pandas as pd 
import os
import json
import sqlite3
from sqlite3 import Error
pd.set_option('display.max_rows', 200)

# Generate dataframes for insertion into db tables

In [2]:
cwd = os.getcwd()
brands_dr = cwd + '\\brands.json'
receipts_dr = cwd + '\\receipts.json'
users_dr = cwd + '\\users.json'

### Brands data

In [3]:
data = []
with open(brands_dr) as f:
    for line in f:
        data.append(json.loads(line))

In [4]:
brands_df = pd.json_normalize(data)
brands_df.head()

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827

In [5]:
brands_df.columns

Index(['barcode', 'category', 'categoryCode', 'name', 'topBrand', '_id.$oid',
       'cpg.$id.$oid', 'cpg.$ref', 'brandCode'],
      dtype='object')

In [6]:
brands_cpg = brands_df[['cpg.$id.$oid','cpg.$ref']]
brands_cpg.head()

               cpg.$id.$oid cpg.$ref
0  601ac114be37ce2ead437550     Cogs
1  5332f5fbe4b03c9a25efd0ba     Cogs
2  601ac142be37ce2ead437559     Cogs
3  601ac142be37ce2ead437559     Cogs
4  5332fa12e4b03c9a25efd1e7     Cogs

In [7]:
# Final cpg_id dataframe
colrn = {'cpg.$id.$oid':'cpg_id','cpg.$ref':'cpg_ref'}
brands_cpg.rename(columns=colrn, inplace=True)
brands_cpg.head()

C:\Users\Peter\AppData\Local\Temp\ipykernel_24888\2480253218.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brands_cpg.rename(columns=colrn, inplace=True)

                     cpg_id cpg_ref
0  601ac114be37ce2ead437550    Cogs
1  5332f5fbe4b03c9a25efd0ba    Cogs
2  601ac142be37ce2ead437559    Cogs
3  601ac142be37ce2ead437559    Cogs
4  5332fa12e4b03c9a25efd1e7    Cogs

In [8]:
brands_df.head()

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827

In [9]:
# Final brands dataframe 
colrn = {'categoryCode':'category_code','topBrand':'top_brand','_id.$oid':'brand_id','cpg.$id.$oid':'cpg_id','cpg.$ref':'cpg_ref','brandCode':'brand_code'}
brands_df.rename(columns=colrn, inplace=True)
cols = ['brand_id','barcode','brand_code','category','category_code','cpg_id','cpg_ref','name','top_brand']
brands_df = brands_df[cols]
brands_df.head()

,brand_id,barcode,brand_code,category,category_code,cpg_id,cpg_ref,name,top_brand
0,601ac115be37ce2ead437551,511111019862,NaN,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False
1,601c5460be37ce2ead43755f,511111519928,STARBUCKS,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False
2,601ac142be37ce2ead43755d,511111819905,TEST BRANDCODE @1612366146176,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False
3,601ac142be37ce2ead43755a,511111519874,TEST BRANDCODE @1612366146051,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False
4,601ac142be37ce2ead43755e,511111319917,TEST BRANDCODE @1612366146827,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False

## Generate the dataframes for receipts and receipt_items table

In [10]:
receipts_df = pd.read_json(receipts_dr, lines=True)
receipts_df.head(6)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
5,{'$oid': '5ff1e1e40a7214ada1000566'},750.0,"Receipt number 1 completed, bonus point schedu...",{'$date': 1609687524000},{'$date': 1609687524000},{'$date': 1609687525000},{'$date': 1609687530000},{'$date': 1609687525000},750.0,{'$date': 1609601124000},1.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,3.25,5ff1e1e4cfcf6c399c274ac3

In [11]:
receipts_wo_items_df = receipts_df.drop(columns = "rewardsReceiptItemList")

In [12]:
receipts_wo_items_df = pd.json_normalize(receipts_wo_items_df.to_dict(orient="records"))
receipts_wo_items_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date,finishedDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12,NaN,NaN,NaN
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12,NaN,NaN,NaN
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12,NaN,NaN,NaN
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12,NaN,NaN,NaN
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12,NaN,NaN,NaN

In [13]:
receipts_wo_items_df = receipts_wo_items_df.drop(columns = ["finishedDate","pointsAwardedDate","purchaseDate"])
receipts_wo_items_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

In [14]:
receipts_wo_items_df[['createDate.$date','dateScanned.$date','finishedDate.$date','modifyDate.$date','pointsAwardedDate.$date','purchaseDate.$date']] = receipts_wo_items_df[['createDate.$date','dateScanned.$date','finishedDate.$date','modifyDate.$date','pointsAwardedDate.$date','purchaseDate.$date']].apply(pd.to_datetime, unit='ms')

receipts_wo_items_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,2021-01-03 00:00:00
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,2021-01-02 15:24:43
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,2021-01-03 00:00:00
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,2021-01-03 00:00:00
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,2021-01-02 15:25:06

In [15]:
colrn = {'bonusPointsEarned':'bonus_points_earned', 'bonusPointsEarnedReason':'bonus_points_earned_reason', 'pointsEarned':'points_earned', 'purchasedItemCount':'purchased_item_count', 'rewardsReceiptStatus':'rewards_receipt_status', 'totalSpent':'total_spent', 'userId':'user_id', '_id.$oid':'receipt_id', 'createDate.$date':'created_date', 'dateScanned.$date':'scanned_date','finishedDate.$date':'finished_date','modifyDate.$date':'modified_date','pointsAwardedDate.$date':'points_awarded_date','purchaseDate.$date':'purchase_date'}

receipts_wo_items_df.rename(columns=colrn, inplace=True)
receipts_wo_items_df.head()

,bonus_points_earned,bonus_points_earned_reason,points_earned,purchased_item_count,rewards_receipt_status,total_spent,user_id,receipt_id,created_date,scanned_date,finished_date,modified_date,points_awarded_date,purchase_date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,2021-01-03 00:00:00
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,2021-01-02 15:24:43
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,2021-01-03 00:00:00
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,2021-01-03 00:00:00
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,2021-01-02 15:25:06

In [16]:
# FINAL receipts dataframe for db
cols = ['receipt_id','bonus_points_earned','bonus_points_earned_reason','created_date','finished_date','modified_date','points_awarded_date','points_earned','purchase_date','purchased_item_count','rewards_receipt_status','scanned_date','total_spent','user_id']
receipts_wo_items_df = receipts_wo_items_df[cols]
receipts_wo_items_df.head()

,receipt_id,bonus_points_earned,bonus_points_earned_reason,created_date,finished_date,modified_date,points_awarded_date,points_earned,purchase_date,purchased_item_count,rewards_receipt_status,scanned_date,total_spent,user_id
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,FINISHED,2021-01-03 15:25:31,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,FINISHED,2021-01-03 15:24:43,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5.0,2021-01-03 00:00:00,1.0,REJECTED,2021-01-03 15:25:37,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,FINISHED,2021-01-03 15:25:34,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,FINISHED,2021-01-03 15:25:06,1.0,5ff1e194b6a9d73a3a9f1052

In [17]:
receipts_wo_items_df.rewards_receipt_status.unique()

array(['FINISHED', 'REJECTED', 'FLAGGED', 'SUBMITTED', 'PENDING'],
      dtype=object)

### Receipts with items for items table

In [18]:
# generate seperate dataframe for receipts with items in order to use json_normalize
receipts_df_w_items = receipts_df[~receipts_df['rewardsReceiptItemList'].isnull()]
receipts_df_w_items.head(6)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
5,{'$oid': '5ff1e1e40a7214ada1000566'},750.0,"Receipt number 1 completed, bonus point schedu...",{'$date': 1609687524000},{'$date': 1609687524000},{'$date': 1609687525000},{'$date': 1609687530000},{'$date': 1609687525000},750.0,{'$date': 1609601124000},1.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,3.25,5ff1e1e4cfcf6c399c274ac3

In [20]:
items_norm = pd.json_normalize(receipts_df_w_items.to_dict(orient="records"), meta=['_id','purchaseDate','userId'], record_path="rewardsReceiptItemList", record_prefix="", meta_prefix="receipt_", errors='ignore')
items_norm.head(50)

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId,receipt__id,receipt_purchaseDate,receipt_userId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1eb0a720f0523000575'},{'$date': 1609632000000},5ff1e1eacfcf6c399c274ae6
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1bb0a720f052300056b'},{'$date': 1609601083000},5ff1e194b6a9d73a3a9f1052
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1bb0a720f052300056b'},{'$date': 1609601083000},5ff1e194b6a9d73a3a9f1052
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1f10a720f052300057a'},{'$date': 1609632000000},5ff1e1f1cfcf6c399c274b0b
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1ee0a7214ada100056f'},{'$date': 1609632000000},5ff1e1eacfcf6c399c274ae6
5,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1d20a7214ada1000561'},{'$date': 1609601106000},5ff1e194b6a9d73a3a9f1052
6,1234,NaN,2.56,2.56,True,2,True,3.0,1234,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1d20a7214ada1000561'},{'$date': 1609601106000},5ff1e194b6a9d73a3a9f1052
7,4011,ITEM NOT FOUND,3.25,3.25,False,1,True,1.0,4011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1e40a7214ada1000566'},{'$date': 1609601124000},5ff1e1e4cfcf6c399c274ac3
8,NaN,MSSN TORTLLA,2.23,2.23,NaN,1009,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1cd0a720f052300056f'},{'$date': 1609687501000},5ff1e194b6a9d73a3a9f1052
9,046000832517,"Old El Paso Mild Chopped Green Chiles, 4.5 Oz",10.00,10.00,NaN,0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1a40a720f0523000569'},{'$date': 1609027200000},5ff1e194b6a9d73a3a9f1052
10,4011,ITEM NOT FOUND,20.00,20.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1ed0a7214ada100056e'},{'$date': 1609632000000},5ff1e1eacfcf6c399c274ae6
11,4011,ITEM NOT FOUND,20.00,20.00,False,1,True,3.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1eb0a7214ada100056b'},{'$date': 1609632000000},5ff1e1eacfcf6c399c274ae6
12,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1c50a720f052300056c'},{'$date': 1609601093000},5ff1e194b6a9d73a3a9f1052
13,013562300631,Annie's Homegrown Organic White Cheddar Macaro...,50.00,50.00,True,1,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1a10a720f0523000568'},{'$date': 1609545600000},5ff1e194b6a9d73a3a9f1052
14,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,1,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
15,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,2,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
16,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,3,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
17,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,4,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
18,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,5,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
19,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,6,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
20,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,7,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
21,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,8,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
22,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,9,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
23,034100573065,MILLER LITE 24 PACK 12OZ CAN,29,29,NaN,10,NaN,1.0,NaN,NaN,...,77,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b60a7214ada100055c'},{'$date': 1612365878000},5ff1e194b6a9d73a3a9f1052
24,075925306254,NaN,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
25,NaN,NaN,NaN,NaN,True,2,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
26,NaN,NaN,NaN,NaN,True,3,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
27,NaN,NaN,NaN,NaN,True,4,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
28,NaN,NaN,NaN,NaN,True,5,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
29,NaN,NaN,NaN,NaN,True,6,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
30,NaN,NaN,NaN,NaN,True,7,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
31,NaN,NaN,NaN,NaN,True,8,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
32,NaN,NaN,NaN,NaN,True,9,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
33,NaN,NaN,NaN,NaN,True,10,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
34,NaN,NaN,NaN,NaN,True,11,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5f9c74f70a7214ad07000037'},{'$date': 1604002679000},5f9c74f7c88c1415cbddb839
35,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b20a7214ada100055a'},{'$date': 1612365875000},5ff1e194b6a9d73a3a9f1052
36,NaN,NaN,NaN,NaN,True,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1e90a7214ada1000569'},NaN,5ff1e1e9b6a9d73a3a9f10f6
37,NaN,NaN,NaN,NaN,True,2,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1e90a7214ada1000569'},NaN,5ff1e1e9b6a9d73a3a9f10f6
38,4011,ITEM NOT FOUND,1,1,False,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1df0a7214ada1000564'},{'$date': 1609601119000},5ff1e1dfcfcf6c399c274ab3
39,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,False,2,True,1.0,028400642255,True,...,800,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1df0a7214ada1000564'},{'$date': 1609601119000},5ff1e1dfcfcf6c399c274ab3
40,075925306254,NaN,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
41,NaN,NaN,NaN,NaN,True,2,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
42,NaN,NaN,NaN,NaN,True,3,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
43,NaN,NaN,NaN,NaN,True,4,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
44,NaN,NaN,NaN,NaN,True,5,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
45,NaN,NaN,NaN,NaN,True,6,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
46,NaN,NaN,NaN,NaN,True,7,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
47,NaN,NaN,NaN,NaN,True,8,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
48,NaN,NaN,NaN,NaN,True,9,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54
49,NaN,NaN,NaN,NaN,True,10,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$oid': '5ff1e1b40a7214ada100055b'},{'$date': 1609601076000},5ff1e1b4cfcf6c399c274a54

In [21]:
print(len(items_norm.index))

6941

In [22]:
items_norm_2 = pd.json_normalize(items_norm.to_dict(orient="records"))
items_norm_2.head()

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId,receipt_userId,receipt__id.$oid,receipt_purchaseDate.$date,receipt_purchaseDate
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1.609632e+12,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1.609601e+12,NaN
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1.609601e+12,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1.609632e+12,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1.609632e+12,NaN

In [23]:
print(len(items_norm_2.index))

6941

In [24]:
items_norm_2[['receipt_purchaseDate.$date']] = items_norm_2[['receipt_purchaseDate.$date']].apply(pd.to_datetime, unit='ms')

In [25]:
colrn = {'finalPrice':'final_price', 'itemPrice':'item_price', 'needsFetchReview':'needs_fetch_review', 'partnerItemId':'partner_item_id', 'preventTargetGapPoints':'prevent_target_gap_points', 'quantityPurchased':'quantity_purchased', 'userFlaggedBarcode':'user_flagged_barcode', 'userFlaggedNewItem':'user_flagged_new_item', 'userFlaggedPrice':'user_flagged_price', 'userFlaggedQuantity':'user_flagged_quantity', 'needsFetchReviewReason':'needs_fetch_review_reason', 'pointsNotAwardedReason':'points_not_awarded_reason', 'pointsPayerId':'points_payer_id', 'rewardsGroup':'rewards_group', 'rewardsProductPartnerId':'rewards_product_partner_id', 'userFlaggedDescription':'user_flagged_description', 'originalMetaBriteBarcode':'original_metabrite_barcode', 'originalMetaBriteDescription':'original_metabrite_description', 'brandCode':'brand_code', 'competitorRewardsGroup':'competitor_rewards_group', 'discountedItemPrice':'discounted_item_price', 'originalReceiptItemText':'original_receipt_item_text', 'itemNumber':'item_number', 'originalMetaBriteQuantityPurchased':'original_metabrite_quantity_purchased', 'pointsEarned':'points_earned', 'targetPrice':'target_price', 'competitiveProduct':'competitive_product', 'originalFinalPrice':'original_final_price', 'originalMetaBriteItemPrice':'original_metabrite_item_price', 'priceAfterCoupon':'price_after_coupon', 'metabriteCampaignId':'metabrite_campaign_id', 'receipt_userId':'user_id', 'receipt__id.$oid':'receipt__id', 'receipt_purchaseDate.$date':'receipt_purchase_date'}

items_norm_2.rename(columns=colrn, inplace=True)
items_norm_2 = items_norm_2.drop(columns = "receipt_purchaseDate")
items_norm_2.head()

,barcode,description,final_price,item_price,needs_fetch_review,partner_item_id,prevent_target_gap_points,quantity_purchased,user_flagged_barcode,user_flagged_new_item,...,target_price,competitive_product,original_final_price,original_metabrite_item_price,deleted,price_after_coupon,metabrite_campaign_id,user_id,receipt__id,receipt_purchase_date
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03 00:00:00
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-02 15:24:43
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-02 15:24:43
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03 00:00:00
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03 00:00:00

In [ ]:
items_norm_2.to_csv(cwd + '\\test.tsv', sep='\t')

### Generate user table dataframe

In [26]:
data = []
with open(users_dr) as f:
    for line in f:
        data.append(json.loads(line))
users_df = pd.json_normalize(data, errors='ignore')

users_df[['createdDate.$date','lastLogin.$date']] = users_df[['createdDate.$date','lastLogin.$date']].apply(pd.to_datetime, unit='ms')

colrn = {'_id.$oid':'user_id', 'createdDate.$date':'created_date', 'lastLogin.$date':'last_login_date', 'signUpSource':'sign_up_source'}

users_df.rename(columns=colrn, inplace=True)
users_df.head()

,active,role,sign_up_source,state,user_id,created_date,last_login_date
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872

In [27]:
users_df.groupby(users_df.columns.tolist(),as_index=False).size()

,active,role,sign_up_source,state,user_id,created_date,last_login_date,size
0,False,consumer,Email,WI,6008622ebe5fc9247bab4eb9,2021-01-20 17:02:38.662,2021-01-20 17:02:38.931000064,1
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,11
2,True,consumer,Email,WI,5ff1e1b4cfcf6c399c274a54,2021-01-03 15:24:36.410,2021-01-03 15:24:36.452000000,1
3,True,consumer,Email,WI,5ff1e1b7cfcf6c399c274a5a,2021-01-03 15:24:39.626,2021-01-03 15:24:39.664999936,1
4,True,consumer,Email,WI,5ff1e1e4cfcf6c399c274ac3,2021-01-03 15:25:24.656,2021-01-03 15:25:24.694000128,1
5,True,consumer,Email,WI,5ff1e1e8cfcf6c399c274ad9,2021-01-03 15:25:28.354,2021-01-03 15:25:28.392000000,1
6,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,4
7,True,consumer,Email,WI,5ff1e1f1cfcf6c399c274b0b,2021-01-03 15:25:37.564,2021-01-03 15:25:37.599000064,1
8,True,consumer,Email,WI,5ff36a3862fde912123a4460,2021-01-04 19:19:20.352,2021-01-04 19:23:05.340000000,5
9,True,consumer,Email,WI,5ff36be7135e7011bcb856d3,2021-01-04 19:26:31.239,2021-01-04 19:29:52.726000128,3
10,True,consumer,Email,WI,5ff36c8862fde912123a538a,2021-01-04 19:29:12.943,2021-01-04 19:29:13.140999936,1
11,True,consumer,Email,WI,5ff36c8e135e7011bcb85da4,2021-01-04 19:29:18.994,2021-01-04 19:29:19.172999936,1
12,True,consumer,Email,WI,5ff36d0362fde912123a5535,2021-01-04 19:31:15.973,2021-01-04 19:34:42.944000000,3
13,True,consumer,Email,WI,5ff36d83135e7011bcb864d6,2021-01-04 19:33:23.244,2021-01-04 19:33:23.424999936,1
14,True,consumer,Email,WI,5ff370c562fde912123a5e0e,2021-01-04 19:47:17.776,2021-01-04 19:50:50.563000064,5
15,True,consumer,Email,WI,5ff3711e62fde912123a620e,2021-01-04 19:48:46.807,2021-01-04 19:48:46.996999936,1
16,True,consumer,Email,WI,5ff47392c3d63511e2a47881,2021-01-05 14:11:30.233,2021-01-05 14:15:33.550000128,5
17,True,consumer,Email,WI,5ff473e7c1e2d0121a9b2697,2021-01-05 14:12:55.669,2021-01-05 14:12:55.876999936,1
18,True,consumer,Email,WI,5ff4ce33c3d63511e2a484b6,2021-01-05 20:38:11.229,2021-01-05 20:39:55.131000064,7
19,True,consumer,Email,WI,5ff4ce34c3d63511e2a484ba,2021-01-05 20:38:12.503,2021-01-05 20:38:12.564999936,1
20,True,consumer,Email,WI,5ff4ce3ac1e2d0121a9b2fb3,2021-01-05 20:38:18.446,2021-01-05 20:38:18.495000064,1
21,True,consumer,Email,WI,5ff4ce3dc3d63511e2a484dc,2021-01-05 20:38:21.887,2021-01-05 20:38:21.937999872,4
22,True,consumer,Email,WI,5ff4ce91c1e2d0121a9b3057,2021-01-05 20:39:45.282,2021-01-05 20:39:45.328999936,1
23,True,consumer,Email,WI,5ff5d15aeb7c7d12096d91a2,2021-01-06 15:03:54.680,2021-01-06 15:08:10.008999936,18
24,True,consumer,Email,WI,5ff5d1a38f142f11dd1886ba,2021-01-06 15:05:07.667,2021-01-06 15:05:07.878000128,1
25,True,consumer,Email,WI,5ff5d1d08f142f11dd18884c,2021-01-06 15:05:52.484,2021-01-06 15:05:52.716999936,1
26,True,consumer,Email,WI,5ff7264e8f142f11dd189504,2021-01-07 15:18:38.596,2021-01-07 15:20:26.820999936,4
27,True,consumer,Email,WI,5ff7268c8f142f11dd189579,2021-01-07 15:19:40.196,2021-01-07 15:19:40.243000064,1
28,True,consumer,Email,WI,5ff7268eeb7c7d12096da2a9,2021-01-07 15:19:42.584,2021-01-07 15:19:42.630000128,2
29,True,consumer,Email,WI,5ff726a0eb7c7d12096da2db,2021-01-07 15:20:00.299,2021-01-07 15:20:00.352999936,1
30,True,consumer,Email,WI,5ff73b90eb7c7d31ca8a452b,2021-01-07 16:49:20.959,2021-01-07 16:51:07.267000064,2
31,True,consumer,Email,WI,5ff73bea8f142f3276c3e84a,2021-01-07 16:50:50.206,2021-01-07 16:50:50.255000064,1
32,True,consumer,Email,WI,5ff7401ceb7c7d31ca8a46e0,2021-01-07 17:08:44.072,2021-01-07 17:08:44.352000000,1
33,True,consumer,Email,WI,5ff74f3db3348b11c93361d1,2021-01-07 18:13:17.921,2021-01-07 18:17:03.216999936,1
34,True,consumer,Email,WI,5ff7930fb3348b11c93372a6,2021-01-07 23:02:39.759,2021-01-07 23:09:54.656000000,3
35,True,consumer,Email,WI,5ff793dd04929111f6e90c69,2021-01-07 23:06:05.503,2021-01-07 23:06:05.680999936,1
36,True,consumer,Email,WI,5ff79464b3348b11c933738b,2021-01-07 23:08:20.153,2021-01-07 23:08:20.300999936,1
37,True,consumer,Email,WI,5ff7949eb3348b11c93373d2,2021-01-07 23:09:18.699,2021-01-07 23:09:18.840000000,1
38,True,consumer,Email,WI,5ff873d1b3348b11c9337716,2021-01-08 15:01:37.348,2021-01-08 15:03:21.259000064,5
39,True,consumer,Email,WI,5ff873ddb3348b11c9337733,2021-01-08 15:01:49.160,2021-01-08 15:01:49.201999872,2
40,True,consumer,Email,WI,5ff873ef04929111f6e910f0,2021-01-08 15:02:07.604,2021-01-08 15:02:07.655000064,1
41,True,consumer,Email,WI,5ff8a11db3348b11c93378aa,2021-01-08 18:14:53.734,2021-01-08 18:14:53.928000000,1
42,True,consumer,Email,WI,5ff8c241b3348b11c93379fc,2021-01-08 20:36:17.626,2021-01-08 20:36:17.831000064,1
43,True,consumer,Email,WI,5ff8c330b3348b11c9337a04,2021-01-08 20:40:16.722,2021-01-08 20:40:16.932999936,1
44,True,consumer,Email,WI,5ff8c4e8b3348b11c9337a11,2021-01-08 20:47:36.724,2021-01-08 20:47:37.088000000,1
45,True,consumer,Email,WI,5ff8ce8504929111f6e913cb,2021-01-08 21:28:37.743,2021-01-08 21:29:59.411000064,3
46,True,consumer,Email,WI,5ff8d634b3348b11c9337aa4,2021-01-08 22:01:24.238,2021-01-08 22:01:24.518000128,1
47,True,consumer,Email,WI,5ff8da28b3348b11c9337ac6,2021-01-08 22:18:16.844,2021-01-08 22:19:49.939000064,2
48,True,consumer,Email,WI,5ff8da7db3348b11c9337b6a,2021-01-08 22:19:41.689,2021-01-08 22:19:41.737999872,1
49,True,consumer,Email,WI,5ff8da7eb3348b11c9337b72,2021-01-08 22:19:42.704,2021-01-08 22:19:42.748999936,1
50,True,consumer,Email,WI,5ffc8f9704929111f6e922bf,2021-01-11 17:49:11.890,2021-01-11 17:50:56.750000128,6
51,True,consumer,Email,WI,5ffc8ff9b3348b11c9338896,2021-01-11 17:50:49.527,2021-01-11 17:50:49.567000064,4
52,True,consumer,Email,WI,5ffc9001b3348b11c93388b6,2021-01-11 17:50:57.375,2021-01-11 17:50:57.415000064,1
53,True,consumer,Email,WI,5ffc9d87b3348b11c9338920,2021-01-11 18:48:39.076,2021-01-11 18:50:13.460999936,3
54,True,consumer,Email,WI,5ffc9d9f04929111f6e92456,2021-01-11 18:49:03.920,2021-01-11 18:49:03.964999936,1
55,True,consumer,Email,WI,5ffca30604929111f6e92525,2021-01-11 19:12:06.515,2021-01-11 19:12:06.791000064,1
56,True,consumer,Email,WI,5ffcb47d04929111f6e9256c,2021-01-11 20:26:37.225,2021-01-11 20:28:21.430000128,2
57,True,consumer,Email,WI,5ffcb4bc04929111f6e92608,2021-01-11 20:27:40.225,2021-01-11 20:27:40.264999936,2
58,True,consumer,Email,WI,5fff0f4fb3348b03eb45abb0,2021-01-13 15:18:39.070,2021-01-13 15:22:02.152999936,4
59,True,consumer,Email,WI,5fff0f9804929101d0ab0697,2021-01-13 15:19:52.446,2021-01-13 15:19:52.678000128,1
60,True,consumer,Email,WI,5fff26bab3348b03eb45bb22,2021-01-13 16:58:34.027,2021-01-13 16:58:34.075000064,1
61,True,consumer,Email,WI,5fff26bfb3348b03eb45bb32,2021-01-13 16:58:39.411,2021-01-13 16:58:39.463000064,1
62,True,consumer,Email,WI,5fff26f2b3348b03eb45bbb9,2021-01-13 16:59:30.518,2021-01-13 16:59:30.567000064,1
63,True,consumer,Email,WI,5fff4beedf9ace121f0c17ea,2021-01-13 19:37:18.415,2021-01-13 19:41:12.676000000,2
64,True,consumer,Email,WI,5fff4c7461ffa811fdb0854c,2021-01-13 19:39:32.913,2021-01-13 19:39:33.163000064,1
65,True,consumer,Email,WI,5fff55dabd4dff11dda8f5f1,2021-01-13 20:19:38.721,2021-01-13 20:23:26.975000064,7
66,True,consumer,Email,WI,600056a3f7e5b011fce897b0,2021-01-14 14:35:15.207,2021-01-14 14:37:10.767000064,8
67,True,consumer,Email,WI,600056d6bd4dff11dda90a3f,2021-01-14 14:36:06.157,2021-01-14 14:36:06.208000000,1
68,True,consumer,Email,WI,60005704bd4dff11dda90a9d,2021-01-14 14:36:52.368,2021-01-14 14:36:52.417999872,1
69,True,consumer,Email,WI,60005709bd4dff11dda90ac1,2021-01-14 14:36:57.988,2021-01-14 14:36:58.051000064,2
70,True,consumer,Email,WI,6000b7aefb296c121a8198b1,2021-01-14 21:29:18.188,2021-01-14 21:33:22.665999872,3
71,True,consumer,Email,WI,6000d46cfb296c121a81b20c,2021-01-14 23:31:56.665,2021-01-14 23:33:52.700999936,2
72,True,consumer,Email,WI,6000d4abe2571211db395b5c,2021-01-14 23:32:59.197,2021-01-14 23:32:59.248000000,1
73,True,consumer,Email,WI,6000d4bae2571211db395b9f,2021-01-14 23:33:14.861,2021-01-14 23:33:14.903000064,1
74,True,consumer,Email,WI,600741d06e6469120a787853,2021-01-19 20:32:17.000,2021-01-19 20:39:03.299000064,6
75,True,consumer,Email,WI,60074246325c8a12289e22a0,2021-01-19 20:34:15.284,2021-01-19 20:34:15.511000064,1
76,True,consumer,Email,WI,6007464b6e64691717e8c1f0,2021-01-19 20:51:23.347,2021-01-19 20:55:08.492000000,3
77,True,consumer,Email,WI,600746fd6e64691717e8cfb5,2021-01-19 20:54:21.274,2021-01-19 20:54:21.487000064,1
78,True,consumer,Email,WI,600748196e64691717e8d4f0,2021-01-19 20:59:05.175,2021-01-19 21:02:42.824000000,4
79,True,consumer,Email,WI,60074883325c8a1794622a12,2021-01-19 21:00:51.464,2021-01-19 21:00:51.660000000,1
80,True,consumer,Email,WI,60074b49325c8a1794623876,2021-01-19 21:12:41.649,2021-01-19 21:16:09.332000000,2
81,True,consumer,Email,WI,60074b996e64691717e8f11a,2021-01-19 21:14:01.809,2021-01-19 21:14:02.009999872,1
82,True,consumer,Email,WI,60083a1e325c8a17946255de,2021-01-20 14:11:42.022,2021-01-20 14:15:04.611000064,1
83,True,consumer,Email,WI,60085b3dbe5fc90ee6a67b11,2021-01-20 16:33:01.152,2021-01-20 16:36:54.992999936,1
84,True,consumer,Email,WI,60086978633aab121bb8c895,2021-01-20 17:33:44.062,2021-01-20 17:37:31.188999936,1
85,True,consumer,Email,WI,60086a09b6310511daa4e1e9,2021-01-20 17:36:09.747,2021-01-20 17:36:10.044999936,1
86,True,consumer,Email,WI,6008873eb6310511daa4e8eb,2021-01-20 19:40:46.148,2021-01-20 19:42:58.792999936,1
87,True,consumer,Email,WI,6008893b633aab121bb8e0a9,2021-01-20 19:49:15.040,2021-01-20 19:50:33.204999936,5
88,True,consumer,Email,WI,6008897ab6310511daa4ebdc,2021-01-20 19:50:18.469,2021-01-20 19:50:18.526000128,1
89,True,consumer,Email,WI,60088a25b6310511daa4ec42,2021-01-20 19:53:09.274,2021-01-20 19:54:22.851000064,1
90,True,consumer,Email,WI,60088a46b6310511daa4ec97,2021-01-20 19:53:42.902,2021-01-20 19:53:42.948000000,1
91,True,consumer,Email,WI,60088d55633aab121bb8e41a,2021-01-20 20:06:45.740,2021-01-20 20:07:54.542000128,2
92,True,consumer,Email,WI,60088d84633aab121bb8e4a6,2021-01-20 20:07:32.034,2021-01-20 20:07:32.079000064,1
93,True,consumer,Email,WI,60088e44b6310511daa4ef80,2021-01-20 20:10:44.695,2021-01-20 20:11:55.932000000,1
94,True,consumer,Email,WI,60088e5d633aab121bb8e5cf,2021-01-20 20:11:09.989,2021-01-20 20:11:10.035000064,1
95,True,consumer,Email,WI,600987d77d983a11f63cfa92,2021-01-21 13:55:35.327,2021-01-21 13:59:21.063000064,9
96,True,consumer,Email,WI,600988557d983a11f63d08ef,2021-01-21 13:57:41.269,2021-01-21 13:57:41.484999936,1
97,True,consumer,Email,WI,6009885c50b33111fd61eee9,2021-01-21 13:57:48.490,2021-01-21 13:57:48.697999872,1
98,True,consumer,Email,WI,600ed42e43298911ce45d1fa,2021-01-25 14:22:39.286,2021-01-25 14:29:24.969999872,4
99,True,consumer,Email,WI,600ed4815edb7811cde6b50b,2021-01-25 14:24:01.806,2021-01-25 14:24:02.036000000,1
100,True,consumer,Email,WI,600ed48a5edb7811cde6b549,2021-01-25 14:24:10.969,2021-01-25 14:24:11.192999936,1
101,True,consumer,Email,WI,600f008f4329897eac237bd8,2021-01-25 17:31:59.409,2021-01-25 17:35:51.918000128,7
102,True,consumer,Email,WI,600f41b2bd196811e68ea219,2021-01-25 22:09:55.031,2021-01-25 22:16:29.531000064,2
103,True,consumer,Email,WI,600f47f06fd0dc1768a34a12,2021-01-25 22:36:32.551,2021-01-25 22:40:13.980999936,3
104,True,consumer,Email,WI,600fb1ac73c60b12049027bb,2021-01-26 06:07:40.879,2021-01-26 06:11:23.950000128,16
105,True,consumer,Email,WI,600fb1e4a4b74c120bd18777,2021-01-26 06:08:36.799,2021-01-26 06:08:37.094000128,1
106,True,consumer,Email,WI,600fb1ec73c60b1204902af4,2021-01-26 06:08:44.058,2021-01-26 06:08:44.267000064,1
107,True,consumer,Email,WI,6010bddaa4b74c120bd19dfb,2021-01-27 01:11:54.997,2021-01-27 01:14:25.032000000,3
108,True,consumer,Email,WI,6010be6173c60b12049040d7,2021-01-27 01:14:09.100,2021-01-27 01:14:09.163000064,1
109,True,consumer,Email,WI,6010be65a4b74c120bd19edc,2021-01-27 01:14:13.600,2021-01-27 01:14:13.644000000,1
110,True,consumer,Email,WI,6010be6673c60b12049040ef,2021-01-27 01:14:14.981,2021-01-27 01:14:15.028000000,1
111,True,consumer,Email,WI,60118bcfa4b74c18d3a8c0d7,2021-01-27 15:50:39.664,2021-01-27 15:52:41.503000064,3
112,True,consumer,Email,WI,60118c0fa4b74c18d3a8c151,2021-01-27 15:51:43.511,2021-01-27 15:51:43.566000128,1
113,True,consumer,Email,WI,6011f31ea4b74c18d3a8c476,2021-01-27 23:11:26.702,2021-01-27 23:16:11.198000128,4
114,True,consumer,Email,WI,6011f33173c60b1804ce1102,2021-01-27 23:11:45.991,2021-01-27 23:11:46.040000000,4
115,True,consumer,Email,WI,6011f42773c60b1804ce1607,2021-01-27 23:15:51.961,2021-01-27 23:15:52.006000128,1
116,True,consumer,Email,WI,6011f43ba4b74c18d3a8ca01,2021-01-27 23:16:11.933,2021-01-27 23:16:12.023000064,1
117,True,consumer,Email,WI,60132acb73c60b3ca7f3ba32,2021-01-28 21:21:15.898,2021-01-28 21:25:01.904000000,3
118,True,consumer,Email,WI,60132b85a4b74c3cbc516295,2021-01-28 21:24:21.761,2021-01-28 21:24:21.912999936,1
119,True,consumer,Email,WI,60132b8b73c60b3ca7f3baee,2021-01-28 21:24:27.222,2021-01-28 21:24:27.387000064,1
120,True,consumer,Email,WI,6014319173c60b3ca7f3bf01,2021-01-29 16:02:25.330,2021-01-29 16:05:28.918000128,1
121,True,consumer,Email,WI,601431c173c60b3ca7f3bf63,2021-01-29 16:03:13.318,2021-01-29 16:03:13.361999872,1
122,True,consumer,Email,WI,601442ce67804a1228b1dc41,2021-01-29 17:15:58.195,2021-01-29 17:18:54.023000064,1
123,True,consumer,Email,WI,6014485b84231211ce793d79,2021-01-29 17:39:39.324,2021-01-29 17:43:11.936999936,1
124,True,consumer,Email,WI,6014499c67804a1228b1f5b0,2021-01-29 17:45:00.842,2021-01-29 18:00:01.464000000,1
125,True,consumer,Email,WI,6014558467804a1228b20cf0,2021-01-29 18:35:48.060,2021-01-29 18:35:48.132999936,1
126,True,consumer,Email,WI,6014558767804a1228b20d00,2021-01-29 18:35:51.391,2021-01-29 18:35:51.433999872,2
127,True,consumer,Email,WI,60145a3c84231211ce796c5d,2021-01-29 18:55:56.507,2021-01-29 18:58:36.699000064,2
128,True,consumer,Email,WI,60145a5584231211ce796cac,2021-01-29 18:56:21.484,2021-01-29 18:56:21.542000128,1
129,True,consumer,Email,WI,6014658e67804a1228b20ef4,2021-01-29 19:44:14.197,2021-01-29 19:46:07.347000064,1
130,True,consumer,Email,WI,601465a584231211ce796da5,2021-01-29 19:44:37.376,2021-01-29 19:44:37.436999936,1
131,True,consumer,Email,WI,601465a884231211ce796db3,2021-01-29 19:44:40.680,2021-01-29 19:44:40.758000128,1
132,True,consumer,Email,WI,601465c567804a1228b20f89,2021-01-29 19:45:09.523,2021-01-29 19:45:09.567000064,1
133,True,consumer,Email,WI,60146f2ac8b50e11d8452661,2021-01-29 20:25:14.221,2021-01-29 20:29:08.512000000,1
134,True,consumer,Email,WI,60147001c8b50e11d8453c36,2021-01-29 20:28:49.403,2021-01-29 20:28:49.622000128,1
135,True,consumer,Email,WI,60182d6dc8b50e11d84547b2,2021-02-01 16:33:49.873,2021-02-01 16:36:01.759000064,1
136,True,consumer,Email,WI,60182f4ac8b50e11d8454946,2021-02-01 16:41:46.573,2021-02-01 16:41:46.615000064,1
137,True,consumer,Email,WI,60183090c8b50e11d84549c0,2021-02-01 16:47:12.843,2021-02-01 16:48:32.031000064,2
138,True,consumer,Email,WI,60183c579a1b091205b61a5f,2021-02-01 17:37:27.795,2021-02-01 17:39:27.811000064,1
139,True,consumer,Email,WI,601890a99a1b091205b61ced,2021-02-01 23:37:13.079,2021-02-01 23:37:13.126000128,1
140,True,consumer,Email,WI,60189c74c8b50e11d8454eff,2021-02-02 00:27:32.642,2021-02-02 00:29:09.976999936,7
141,True,consumer,Email,WI,60189c859a1b091205b61de1,2021-02-02 00:27:49.145,2021-02-02 00:27:49.192999936,1
142,True,consumer,Email,WI,60189c88c8b50e11d8454f2f,2021-02-02 00:27:52.817,2021-02-02 00:27:52.868000000,1
143,True,consumer,Email,WI,60189c94c8b50e11d8454f6b,2021-02-02 00:28:04.020,2021-02-02 00:28:04.072999936,4
144,True,consumer,Email,WI,601ac195af4b1a1205f7560f,2021-02-03 15:30:29.397,2021-02-03 15:34:11.043000064,1
145,True,consumer,Email,WI,601ac1da591789121574dc07,2021-02-03 15:31:38.705,2021-02-03 15:31:38.908999936,1
146,True,consumer,Email,WI,601c2c05969c0b11f7d0b097,2021-02-04 17:16:53.700,2021-02-04 17:20:30.228000000,2
147,True,consumer,Email,WI,601c2c6a29c30a1227ad93bd,2021-02-04 17:18:34.447,2021-02-04 17:18:34.649999872,1
148,True,consumer,Email,WI,601c6887969c0b11f7d0c81f,2021-02-04 21:35:03.045,2021-02-04 21:36:30.188000000,1
149,True,consumer,Email,WI,601c68d229c30a1227ada484,2021-02-04 21:36:18.530,2021-02-04 21:36:18.572000000,1
150,True,consumer,Email,WI,602176a3b57b8a12187fe717,2021-02-08 17:36:35.109,2021-02-08 17:36:35.150000128,1
151,True,consumer,Email,WI,602176c9b57b8a12187fe77e,2021-02-08 17:37:13.950,2021-02-08 17:37:13.988999936,1
152,True,consumer,Email,WI,6022998599409b11fcf89c53,2021-02-09 14:17:41.257,2021-02-09 14:18:58.835000064,1
153,True,consumer,Email,WI,60229990b57b8a12187fe9e0,2021-02-09 14:17:52.581,2021-02-09 14:17:52.625999872,2
154,True,consumer,Email,WI,6024399defa60112282c0ac9,2021-02-10 19:53:01.857,2021-02-10 19:53:02.079000064,1
155,True,consumer,Email,WI,6025388fb54593795bf69234,2021-02-11 14:00:47.269,2021-02-11 14:00:47.332000000,1
156,True,consumer,Email,WI,602538adb54593795bf692ac,2021-02-11 14:01:17.332,2021-02-11 14:01:17.388000000,1
157,True,consumer,Email,WI,60255883efa60114d20e5d4e,2021-02-11 16:17:07.502,2021-02-11 16:18:29.219000064,1
158,True,consumer,Email,WI,602558adb5459313e1e9b7ce,2021-02-11 16:17:49.831,2021-02-11 16:17:49.892999936,1
159,True,consumer,Email,WI,602558b1efa60114d20e5dc7,2021-02-11 16:17:53.738,2021-02-11 16:17:53.798000128,1
160,True,consumer,Email,WI,60268c69efa6011bb151075f,2021-02-12 14:10:49.408,2021-02-12 14:12:07.107000064,1
161,True,consumer,Email,WI,60268c7aefa6011bb1510786,2021-02-12 14:11:06.240,2021-02-12 14:11:06.294000128,1
162,True,fetch-staff,Email,NH,5fc961c3b8cfca11a077dd33,2020-12-03 22:08:03.936,2021-02-26 22:39:16.799000064,20
163,True,fetch-staff,Email,WI,5f2068904928021530f8fc34,2020-07-28 18:04:00.905,2021-02-04 15:30:05.375000064,1
164,True,fetch-staff,Google,AL,5fa32b4d898c7a11a6bcebce,2020-11-04 22:29:33.309,2021-03-04 07:21:58.047000064,1

In [28]:
users_df = users_df.drop_duplicates()
users_df.count()

active             212
role               212
sign_up_source     207
state              206
user_id            212
created_date       212
last_login_date    172
dtype: int64

In [29]:
cols = ['user_id','active','created_date','last_login_date','role','sign_up_source','state']
users_df = users_df[cols]

In [30]:
users_df.head()

,user_id,active,created_date,last_login_date,role,sign_up_source,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,consumer,Email,WI
6,5ff1e1e8cfcf6c399c274ad9,True,2021-01-03 15:25:28.354,2021-01-03 15:25:28.392000000,consumer,Email,WI
7,5ff1e1b7cfcf6c399c274a5a,True,2021-01-03 15:24:39.626,2021-01-03 15:24:39.664999936,consumer,Email,WI
9,5ff1e1f1cfcf6c399c274b0b,True,2021-01-03 15:25:37.564,2021-01-03 15:25:37.599000064,consumer,Email,WI

## Create Sqlite db

In [31]:
fp = cwd + '\\fetch_sqlite.db'
""" create a database connection to a SQLite database """
conn = None
try:
    conn = sqlite3.connect(fp)
    print(sqlite3.version)
except Error as e:
    print(e)
finally:
    if conn:
        conn.close()

2.6.0

## Generate Tables

In [32]:
users_df.head()

,user_id,active,created_date,last_login_date,role,sign_up_source,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,consumer,Email,WI
6,5ff1e1e8cfcf6c399c274ad9,True,2021-01-03 15:25:28.354,2021-01-03 15:25:28.392000000,consumer,Email,WI
7,5ff1e1b7cfcf6c399c274a5a,True,2021-01-03 15:24:39.626,2021-01-03 15:24:39.664999936,consumer,Email,WI
9,5ff1e1f1cfcf6c399c274b0b,True,2021-01-03 15:25:37.564,2021-01-03 15:25:37.599000064,consumer,Email,WI

In [33]:
brands_df.head()

,brand_id,barcode,brand_code,category,category_code,cpg_id,cpg_ref,name,top_brand
0,601ac115be37ce2ead437551,511111019862,NaN,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False
1,601c5460be37ce2ead43755f,511111519928,STARBUCKS,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False
2,601ac142be37ce2ead43755d,511111819905,TEST BRANDCODE @1612366146176,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False
3,601ac142be37ce2ead43755a,511111519874,TEST BRANDCODE @1612366146051,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False
4,601ac142be37ce2ead43755e,511111319917,TEST BRANDCODE @1612366146827,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False

In [34]:
brands_cpg.head()

                     cpg_id cpg_ref
0  601ac114be37ce2ead437550    Cogs
1  5332f5fbe4b03c9a25efd0ba    Cogs
2  601ac142be37ce2ead437559    Cogs
3  601ac142be37ce2ead437559    Cogs
4  5332fa12e4b03c9a25efd1e7    Cogs

In [35]:
receipts_wo_items_df.head()

,receipt_id,bonus_points_earned,bonus_points_earned_reason,created_date,finished_date,modified_date,points_awarded_date,points_earned,purchase_date,purchased_item_count,rewards_receipt_status,scanned_date,total_spent,user_id
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,FINISHED,2021-01-03 15:25:31,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,FINISHED,2021-01-03 15:24:43,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5.0,2021-01-03 00:00:00,1.0,REJECTED,2021-01-03 15:25:37,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,FINISHED,2021-01-03 15:25:34,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,FINISHED,2021-01-03 15:25:06,1.0,5ff1e194b6a9d73a3a9f1052

In [ ]:
c = conn.cursor()
try:
    c.executescript('''
              CREATE TABLE IF NOT EXISTS users (
              user_id TEXT PRIMARY KEY,
              active INTEGER,
              created_date TEXT,
              last_login_date TEXT,
              role TEXT,
              sign_up_source TEXT,
              state TEXT
              );
              
              CREATE TABLE IF NOT EXISTS brands (
              brand_id TEXT PRIMARY KEY,
              barcode TEXT,
              brand_code TEXT,
              category TEXT,
              category_code TEXT,
              cpg_id TEXT,
              cpg_ref TEXT,
              name TEXT,
              top_brand TEXT
              );
              
              CREATE TABLE IF NOT EXISTS brand_cpg (
              cpg_id TEXT,
              cpg_ref TEXT
              );
              
              CREATE TABLE IF NOT EXISTS receipts (
              receipt_id TEXT PRIMARY KEY,
              bonus_points_earned REAL,
              bonus_points_earned_reason TEXT,
              created_date TEXT,
              finished_date TEXT,
              modified_date TEXT,
              points_awarded_date TEXT,
              points_earned REAL,
              purchase_date TEXT,
              purchased_item_count REAL,
              rewards_receipt_status TEXT,
              scanned_date TEXT,
              total_spent REAL,
              user_id TEXT
              );
              
              CREATE TABLE IF NOT EXISTS receipt_items (
              barcode INTEGER,
              description TEXT,
              final_price REAL,
              item_price REAL,
              needs_fetch_review INTEGER,
              partner_item_id TEXT,
              prevent_target_gap_points INTEGER,
              quantity_purchased INTEGER,
              user_flagged_barcode INTEGER,
              user_flagged_new_item INTEGER,
              user_flagged_price REAL,
              user_flagged_quantity INTEGER,
              needs_fetch_review_reason TEXT,
              points_not_awarded_reason TEXT,
              points_payer_id TEXT,
              rewards_group TEXT,
              rewards_product_partner_id TEXT,
              user_flagged_description TEXT,
              original_metabrite_barcode INTEGER,
              original_metabrite_description TEXT,
              brand_code TEXT,
              competitor_rewards_group TEXT,
              discounted_item_price REAL,
              original_receipt_item_text TEXT,
              item_number INTEGER,
              original_metabrite_quantity_purchased INTEGER,
              points_earned REAL,
              target_price REAL,
              competitive_product INTEGER,
              original_final_price REAL,
              original_metabrite_item_price REAL,
              deleted INTEGER,
              price_after_coupon REAL,
              metabrite_campaign_id TEXT,
              user_id TEXT,
              receipt_id TEXT,
              receipt_purchase_date TEXT
              );
              ''')
except Error as e:
    print(e)

## Load Data Into Tables

In [ ]:
users_df[['created_date', 'last_login_date']] = users_df[['created_date', 'last_login_date']].astype(str)

In [ ]:
users_df.to_sql('users', if_exists='append', con=conn, index=False)

In [ ]:
receipts_wo_items_df.to_sql('receipts', if_exists='append', con=conn, index=False)

In [ ]:
items_norm_2.to_sql('receipt_items', if_exists='append', con=conn, index=False)

In [ ]:
brands_cpg.to_sql('brand_cpg', if_exists='append', con=conn, index=False)

In [ ]:
brands_df.to_sql('brands', if_exists='append', con=conn, index=False)

In [36]:
items_norm_2[items_norm_2.duplicated()]

Empty DataFrame
Columns: [barcode, description, final_price, item_price, needs_fetch_review, partner_item_id, prevent_target_gap_points, quantity_purchased, user_flagged_barcode, user_flagged_new_item, user_flagged_price, user_flagged_quantity, needs_fetch_review_reason, points_not_awarded_reason, points_payer_id, rewards_group, rewards_product_partner_id, user_flagged_description, original_metabrite_barcode, original_metabrite_description, brand_code, competitor_rewards_group, discounted_item_price, original_receipt_item_text, item_number, original_metabrite_quantity_purchased, points_earned, target_price, competitive_product, original_final_price, original_metabrite_item_price, deleted, price_after_coupon, metabrite_campaign_id, user_id, receipt__id, receipt_purchase_date]
Index: []

[0 rows x 37 columns]